.welcomePage{
  min-height: 110vh;
  position: relative;
}
.waveSvg{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.waveeSvg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

